@import url('https://fonts.googleapis.com/css?family=Lato:300|Lobster|Playfair+Display:900');

body {
  background-color: #707070;
  position: relative;
}

a, .btn a {
  text-decoration:none;
  color: #5E2E30;
  cursor: crosshair;
}

a:hover {
  color: #5E2E30;
}

/*Home Styles*/
.header {
position:relative;
width:100%;
height:100vh;
background-image:url(../img/tq-burg.png);
background-repeat: no-repeat;
background-position: center;
background-size: 175px;
}

/*About Me Styles*/
/*Media Query*/
@media screen and (max-width: 598px) {
    #about {display:none;}
    #about h1 {display:none;}
    /*#contactme h3 {display:none;}*/
    #contactme {clear:left;width:100%;}
    #contactme img {height:75px;float:left;padding-right:25px;}
    .text-justify {text-align:center;float:left;vertical-align: center;}
    .section_button.about {display:none;}
    /*.section_button.contact {display:none;}*/
}


.left-col h1 {
  color: #5E2E30;
  font-family: 'Lato', Cursive;
  font-size: 48px;
  margin-bottom: 0px;
  text-shadow: 1px 1px 2px #313;
}
.left-col h4 {
  margin-top: 0px;

}
.right-col .year {
  font-family: 'Playfair Display';
  font-weight: 900;
  position: absolute;
  z-index: -1;
  color: rgba(51, 51, 51, 0.1);
  font-size: 170px;
  background-image: url('../img/grad.jpeg');
}

.right-col {
  background-image:url('../img/tan.jpg');
}
.aboutme {
  margin: 10% auto;
  height:500px;
}

/*Work Styles*/
#work {
  height:600px;
}

#work h3 {
  color: #5E2E30;
  font-family: 'Lato', Cursive;
  font-size: 48px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px #313;
}

.wrapper {
	width: 80%;
	margin: 20px auto;
}

.gallery {
	margin-top: 30px;
}

.gallery ul {
	list-style-type:none;
	margin-left: 35px;
}

/* animation */
div.gallery ul li, div.gallery li img {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

div.gallery ul li {
	position: relative;
	float: left;
	width: 200px;
	height: 175px;
	margin: 5px;
	padding: 5px;
	z-index: 0;
}

/* Ensure that hover image overlapped the others */
div.gallery ul li:hover {
	z-index: 5;
}

div.gallery ul li img {
	position: absolute;
	left: 0;
	top: 0;
	border: 1px dot #5E2E30;
	padding: 5px;
	width: 250px;
	height: 230px;
	background: #5E2E30;
}

div.gallery ul li img:hover {
	width: 300px;
	height: 300px;
	margin-top: -130px;
	margin-left: -130px;
	top: 65%;
	left: 65%;
}

p.attribution {
	font-family: 'Lato';
	color: #000;
	clear: both;
	text-align: center;
	line-height: 25px;
	padding-top: 30px;
}

p.attribution a {
	color: #4c8d7c;
}


	div.gallery ul {
		list-style-type: none;
		margin: 0;
	}
}
/*Extra Styles*/

#extra {
  height: 750px;
  background-image: url('../img/grad.jpeg');
  background-size: contain;
  background-attachment: fixed;
}
.fresno {
  height: 200px;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 5px;
}
.fresno h1 {
  color: #5E2E30;
  font-family: 'Lato', Cursive;
  font-size: 5em;
  margin-bottom: 0px;
  text-shadow: 1px 1px 2px #313;
}

.fresno p {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  line-height: 36px;
  font-family: 'Lato' , sans-serif ;
  text-shadow: 1px 1px 2px #333;
}

.extrasection .flex {
  display: flex;
  align-items: center;
  height: 550px;
}

/*Contact Form Styles*/
.left-col {
  height: 550px;
}
.row h3 {
  color: #5E2E30;
  font-family: 'Lato', Cursive;
  font-size: 48px;
  margin-bottom: 0px;
  text-shadow: 1px 1px 2px #313;
}

.row {
  margin-left: 150px;
  margin-top: 50px;
}

.right-col img {
  height: 400px;
}

#inputmessage {
  height: 150px;
}

/*Corner Styles*/

.topbar, .bottombar{
position:fixed;
width:100%;
height:50px;
background-color:#999eff;
z-index:100;
}

.bottombar{
bottom:0;
}

.section_button {
	position: fixed;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 8px;
	text-transform: uppercase;
	margin: 15px;
	width: auto;
	height: auto;
	cursor: crosshair;
	z-index: 100;
	text-align:left;
  color: #B10007;
}

#work_example01, #work_example01_button, #work_example02, #work_example02_button, #work_example03, #work_example03_button, #work_example04, #work_example04_button, .section_button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.section_button a:link {
color:#000000;
text-decoration: none;
}
.section_button:hover {
  text-transform:lowercase;
}

.work{
right: 0;
text-align:right;
}

.about{
bottom:0;
text-align:left;
}

.contact{
right: 0;
bottom:0;
text-align:right;
}

@media all and (max-width: 540px) {

.section_button {
	font-size: 18px;
	line-height: 16px;
	font-weight: 300;
	letter-spacing: 1.4vw;
	margin: 15px;
	height:60px;
}

.topbar, .bottombar{
height:45px;
}

/* Media Query */
@media only screen and (min-width: 499px) and (max-width: 768px)  {
.wrapper {
	width: 500px;
}
}

@media only screen and (max-width: 398px) {
.wrapper {
	width: 300px;
}
}
